<!DOCTYPE html>
@using System.Web.Optimization
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin panel 2.0</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/plugins/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div class="">
            @Html.Action("NavbarTop", "Navbar")            
        </div>
        <div id="page-wrapper" style="padding-top:70px;">
            <div class=" col-xs-3">
            @Html.Action("NavbarSide", "Navbar", new { controller = ViewContext.RouteData.Values["Controller"].ToString(), action = ViewContext.RouteData.Values["Action"].ToString() })
        </div>
            <div class="col-xs-9" >
                @RenderBody()
            </div>           
        </div>        

    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/plugins/morris/raphael.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/morris/morris.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/morris/morris.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/morris/morris-data.js")"></script>
    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="@Url.Content("~/Scripts/plugins/flot/jquery.flot.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/flot/jquery.flot.tooltip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/flot/jquery.flot.resize.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/flot/jquery.flot.pie.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/flot/flot-data.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
