@using System.Linq
@using System.Collections.Generic
@using Microsoft.Owin.Security

<h4>Используйте для входа другую службу.</h4>
<hr />
@{
    List<AuthenticationDescription> loginProviders = (List<AuthenticationDescription>) Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count == 0)
    {
        <div>
            <p>
                Внешние службы проверки подлинности не настроены. В <a href="http://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
                вы можете узнать о том, как в этом приложении ASP.NET настроить вход через внешние службы.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("Login", "Auth", new { returnUrl = Url.Action("Index","VideoLib")}))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption">@p.AuthenticationType</button>
                    }
                    @Html.ActionLink("Logout","Logout","Auth")
                    @Html.ActionLink(linkText: "Films", actionName: "FilmCollection", controllerName: "VideoLib", routeValues: new { user_id = 1 }, htmlAttributes: null)

                </p>
            </div>
        }
    }
}
